.result {
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: fit-content;
}

.positive {
  background-color: #28a745; /* Green */
}

.neutral {
  background-color: #ffc107; /* Yellow */
  color: #000; /* Change text color to black for better contrast */
}

.negative {
  background-color: #dc3545; /* Red */
}
