.userDropdown {
  display: inline-flex;
  padding: 6px 11px;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

.chevron {
  pointer-events: none;
}
